.bottom-panel::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Цвет ползунка */
    border-radius: 10px; /* Скругленные края */
}

bottom-panel {
    height: 13vh;
    backdrop-filter: blur(20px);
    background: var(--card-background-color);
    width: 96vw;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;

    justify-content: center; /*wide-with*/
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: none;
}

.panel-button {
    backdrop-filter: var(--blur);
    background: var(--card-background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 160px;
    min-width: 100px;
    height: 105px;
    margin: 10px;
    padding: 5px;
}

.panel-button:hover {
    border-color: transparent;
    transition: var(--transition);
}

.panel-button:hover .card-svg path{
    stroke: var(--svg-button-hover-color);
    transition: var(--transition);
}
.delete:hover path {
    stroke: var(--close-collor);
    transition: var(--transition);
}

.active-card {
    /*border: var(--active-card-border);*/
    background: var(--active-card-background-color);

}
