token-modal {
    height: 40vh;
    width: 70vw;
}

input:hover {
    border: 1px solid rgba(234, 234, 234, 0.4);
    transition: var(--transition);
}

#link, #token, #btn-set-token {
    margin: 10px 0;
    background: var(--background-modal-input);
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    font-family: var(--font), sans-serif;
    font-size: 1.3rem;
    color: var(--button-text-color);
}

#link:hover, #token:hover{
    border: var(--active-card-border);
    transition: var(--transition);
}

#btn-set-token{
    width:225px;
    height: 55px;
}

#btn-set-token :hover {
    background: none;
    color: var(--button-hover-text-color);
    transition: var(--transition);
    border: 2px solid rgba(234, 234, 234, 0.5);
}

.title{
    text-align: center;
    font-size: 1.5rem;
    font-family: "Poppins-Light", "sans-serif";
    color: #EAEAEA;
    margin-top: 10px;
}

#token-error {
    color: transparent;
    font-size: 1rem;
    position: absolute;
    bottom: 8px;
    transition: var(--transition);
}

#btn-set-token {
    border: var(--border);
    color: #EAEAEA17;
}

#btn-set-token:hover {
    color: #EAEAEA;
    border: transparent;
    transition: var(--transition);
}

#token {
}