switch-button {
    backdrop-filter: var(--blur);
    background: var(--card-background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 5px;
    height: var(--standart-item-size);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

switch-button:hover path {
    stroke: var(--svg-button-hover-color);
    transition: var(--transition);
}

switch-button svg {
    width: 100%;
    height: 77%;
}

#btn-friendly-name {
    font-family: var(--font) 'sans-serif';
    color: var(--button-text-color);
    width: 100%;
    height: 23%;

}