.bottom-card {

}

.delete {
    position: absolute;
    top: -2px;
    right: -3px;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}
.delete.visible {
    opacity: 1;
}
.delete.hidden {
    opacity: 0;
}

.card-svg {
    width: 100%;
    height: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-on-card {
    width: 100%;
    height: 23%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--button-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-button:hover .name-on-card {
    color: var(--button-hover-text-color);
    transition: var(--transition);

}

.invalid-input {
    border: var(--invalid-border);
    transition: var(--transition);
}